/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.font-gv {
  font-family: 'Great Vibes', cursive;
}
.font-rbt {
  font-family: 'Roboto', sans-serif;
}
.w-100 {
  font-weight: 100;
}
.w-300 {
  font-weight: 300;
}
.w-400 {
  font-weight: 400;
}
.names {
  font-size: 5em;
  text-shadow: 1px 1px 5px #648a8d;
}
#name-mobile {
  display:none;
}
#name-mobile h1, h4 {
  line-height: 1px;
}
#name-mobile h1 {
  padding-top:20px;
  padding-bottom:5px;
}
.shadow-bl {
  text-shadow: 1px 1px 5px #648a8d;
}
.banner-details {
  letter-spacing: 5px;
  color:#fff;
  text-shadow: 1px 1px 5px #648a8d;
}
.banner-details p {
  line-height: 0px;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 100vh;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;

  }
  #index-banner .section {
    top: 10%;
  }
  #name-mobile {
    display:block;
  }
  #name-device {
    display:none;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .banner {
    margin-top:50px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.modal {
  opacity: .8!important;
}
.banner {
  margin-top:100px;
}
.gallery {
  height: 100%;
  background-image: url('../img/img-8.jpg');
  background-size: cover;
  padding:0;
  margin:0;
  background-position: center;
  display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
}
.hashtag {
  font-size: 35px;
  text-shadow: 1px 1px 5px #648a8d;
  margin-top: 15px;
}